body {
  background-color: $backgroundColor;
}

.mb-2 {
  margin-bottom: 20px;
}

// colors
.primary {
  background-color: $primaryColor !important;
}

.secondary {
  background-color: $secondaryColor !important;
}

// common tags

*img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
