.App {
  display: flex;
  flex-direction: column;
}

.header-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: $backgroundColor !important;
}

.main-body {
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.section-wrapper {
  margin-top: 40px;
}

// category card component
.category-card {
  padding: 20px;
  border-radius: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;

  .link {
    text-decoration: none;
    color: $textColorLight;
  }
}
.category-container {
  padding-bottom: 50px;
}

// product card component
.product-card {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15) !important;
  padding: 25px;
  border-radius: 30px !important;
  min-height: 360px;
  max-width: 400px;
  min-width: 180px;
  position: relative;
  cursor: pointer;
  .custom-text {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  .product-image {
    height: 140px;
    object-fit: contain;
    padding: 15px;
  }
  .product-card-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 30px;
    min-height: 110px;
    padding: 15px 20px;
    text-align: center;
  }

  .product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

// Page loader component
.page-loader {
  min-width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
