.App {
  display: flex;
  flex-direction: column;
}

.header-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: $backgroundColor !important;
}

.main-body {
  margin-top: 60px;
  height: calc(100vh - 60px);
}

.section-wrapper {
  margin-top: 40px;
}

.category-card {
  padding: 20px;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;

  .link {
    text-decoration: none;
    color: $textColorLight;
  }
}

.primary {
  background-color: $primaryColor !important;
}

.secondary {
  background-color: $secondaryColor !important;
}
