// font sizes
.title-font {
  font-size: 32px !important;
}
.title-2 {
  font-size: 1.15rem !important;
}

// font weights
.font-weight-700 {
  font-weight: 700 !important;
}

// font colors
.font-white {
  color: $textColorLight !important;
}

.font-blue {
  color: $textColor3 !important;
}
